Source: golang-vmihailenco-bufio
Priority: extra
Maintainer: Kouhei Maeda <mkouhei@palmtb.net>
Build-Depends: debhelper (>= 9.0.0), dh-golang, golang-go
Standards-Version: 3.9.5
Section: devel
Homepage: https://github.com/vmihailenco/bufio

Package: golang-vmihailenco-bufio-dev
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, golang-go
Description: Fork of Golang's bufio package
 Package bufio implements buffered I/O. It wraps an io.Reader or io.Writer
 object, creating another object (Reader or Writer) that also implements
 the interface but provides buffering and some help for textual I/O.

